@import "~bulma/bulma.sass";
html {
	color:red;
}
.section{
	margin-left: 10%;
	margin-right: 10%;
}
.a .button{
	text-align: center;
}
.h1 {
	color: blue;
	text-align: center;
}
img{
	text-align: center;
}
.logo{
	text-align: center;
}